*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;
	background: linear-gradient(250.48deg, lightblue 22.86%, white 50.18%);
}

img{
	 width: 100%;
	 max-width: 100%;
	 vertical-align: top;
}
.cards-wrapper{
	display: flex;
	align-items: center;
	justify-content: space-around;
	min-height: 100vh;
	position: relative;
}
.cards-container{
	width: 100%;
	max-width: 1200px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	position: relative;
	z-index: 1;
}
.pro_list{
	width: 150px;
	margin: 0;
	padding: 0;
	left: 0;
	z-index: 5;
}
.pro_list li{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: relative;
	margin: 20px 0;
	transition: 0.5s;
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	list-style: none;
	animation-timing-function: ease-out;
	box-shadow: 11px 11px 15px -2px rgba(0, 0, 0, 0.25);
	border:0px solid rgba(0, 0, 0, 0.3);
	cursor: pointer;
	z-index: 10;
}
.menu li.selected{
	border-width:5px;
}
.bg-radius{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.bg-radius span{
	position: absolute;
	display: block;
	list-style: none;
	width: 200px;
	height: 200px;
	background: pink;
	filter: blur(15px);
	border-radius: 50%;
	transition: 1.3s ease-in-out;
	opacity:0.5;
}
.bg-radius span:nth-child(1) {
	width: 50vh;
	height: 50vh;
	top: 10%;
	left: 5%;
}
.bg-radius span:nth-child(2) {
	width: 30vh;
	height: 30vh;
	top: 55%;
	left: 30%;
}
.bg-radius span:nth-child(3) {
	width: 15vh;
	height: 15vh;
	top: 85%;
	left: 47%;
}
.bg-radius span:nth-child(4) {
	width: 50vh;
	height: 50vh;
	bottom: 10%;
	right: 5%;
}
.bg-radius span:nth-child(5) {
	width: 30vh;
	height: 30vh;
	bottom: 55%;
	right: 30%;
}
.bg-radius span:nth-child(6) {
	width: 15vh;
	height: 15vh;
	bottom: 85%;
	right: 47%;
}

section{
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	align-items: center;
}
.card{
	 position: relative;
	 width: 400px;
	 height: 80vh;
	 background: linear-gradient(210deg, rgba(224, 224, 224, 0.3) 0, rgba(36, 34, 34, 0.1) 97%);
	 border-radius: 40px;
	 backdrop-filter: blur(30px);
	 transform-origin: right;
	 transform-style: preserve-3d;
}
.card.card_animated{
	animation:1.5s cardAnimated;
}
@keyframes cardAnimated{
	0%{
		transform: none;
	}
	40%{
		transform: perspective(300px) rotateY(-30deg);
	}
	60%{
		transform: perspective(300px) rotateY(-30deg);
	}
	100%{
		transform: none;
	}
}

.card_inner{
	position: relative;
	width: 100%;
	height: 100%;
	padding: 30px;
}
.card_animated .card_inner{
	animation:1s cardInnerAnimated 0.3s;
}
@keyframes cardInnerAnimated{
	0%{
		transform: none;
		opacity: 1
	}
	50%{
		transform: translateX(-120%);
		opacity: 0;
	}
	100%{
		transform: none;
		opacity: 1
	}
}

.card-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}
.pro_pic{
	width: 200px;
	height: 200px;
	margin-left: -130px;
	border-radius: 50%;
	background-size: cover;
	background-position: center;
	background-origin: border-box;
	border: 5px solid rgba(0, 0, 0, 0.3) ;
	transition:all 0.5s ease-in-out;
	box-shadow: 17px 17px 17px -2px rgba(0, 0, 0, 0.25);
}
.pro_title{
	padding-left: 10px;
	color: black(255,255,255,0.8)
}
.pro_description{
	font-size: 22px;
	text-align: justify;
	color:black(255,255,255,0.8);

}


